body {
	font-family: 'Markazi Text', serif;
}
.app {
	display: flex;
	padding: 20px;
  	height: 100vh;
  	// background-color:#78DBEE;
  	font-weight: 700;
  	color: #FF1B1C
}
///////////////
///channel scene
.left-scene{
	flex: 50%;
	    margin-left: 10px;
	display: flex;
	flex-direction: column;
	background-color: pink;

	//component form-search will be the input
	//  //form-control style comes from bootstrap
	.form-search {
	  	background-color: #F7EF81;
	    padding: 60px 30px 60px 80px;
	    border: none;
	    font-size: 15px;
	    font-style: italic;
	    box-shadow: none;
	    &:focus {
	      box-shadow: none;
	    }
	}
}

/////////////////////////////////////////
///Chat scene
.right-scene {
	flex: 0 0 50%;
	background-color: #EDDEA4;
	    margin-left: 10px;
}
	// to dispaly a magnifying glass on the left of the input

	.MagGlass {
	    content: '\F002';
	    position: absolute;
	    top: 40px;
	    left: 30px;
	    font-family: FontAwesome;
	    font-size: 2em;
	    opacity: 0.4;

	      &:before {
    content: '\F002';
    position: absolute;
    top: 40px;
    left: 30px;
    font-family: FontAwesome;
    font-size: 2em;
    opacity: 0.4;
  }
	}
