body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300 !important;
}

// h6 {
// 	font-weight: 700;
// }
//
.message-container {
	background-color: #f8f8e6;
	border-radius: 2px;

}
.author {
	font-weight: 700;
}

.content {
	font-weight: 300;
	border-bottom: 1px solid #rrggbb;
}

.created-at {
	font-weight:100;
	font-style:italic;
	font-size: smaller;
}

// .author:after {
//     content: " ";
//     display: block;
//     border-bottom: 1px solid #rrggbb;
//   }

.bold {
	font-weight: 700;
}


.app {
	display: flex;
	padding: 10px;
  	height: 100vh;
  	background-color:#E7E5DF;
  	h2 {
  		margin-top: 10px;
  	}
}
.underline {
	border-bottom: 1px;
	border-color: pink;
}
///////////////
///channel scene
.left-scene{
	flex: 50%;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
	padding: 5px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	background-color: pink;
	border-radius: 3px;

	//component form-search will be the input
	//  //form-control style comes from bootstrap
	.form-search {
	  	background-color: #F7EF81;
	    padding: 60px 30px 60px 80px;
	    border: none;
	    font-size: 15px;
	    font-style: italic;
	    box-shadow: none;
	    &:focus {
	      box-shadow: none;
	    }
	}
	.channel-list {
	}
}

/////////////////////////////////////////
///Chat scene
.right-scene {
	flex: 0 0 50%;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
	background-color: #EDDEA4;
	margin-left: 10px;
	padding: 5px;
}


	// to dispaly a magnifying glass on the left of the input

	.MagGlass {
	    content: '\F002';
	    position: absolute;
	    top: 40px;
	    left: 30px;
	    font-family: FontAwesome;
	    font-size: 2em;
	    opacity: 0.4;

	      &:before {
    content: '\F002';
    position: absolute;
    top: 40px;
    left: 30px;
    font-family: FontAwesome;
    font-size: 2em;
    opacity: 0.4;
  }
	}
